.notification {
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #faf8f8;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  
  .notification p {
    margin: 0 auto;
    text-align: center;
  }
  